@charset "utf-8";

/* ***************  global *************** */
html, body {margin:0; padding:0;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; }/*  ie-mac \*/ 
*html .clearfix {height:1%;} 
.clearfix {display:block;}/* ie-mac */

/* *********** other ********** */
::selection {}
.effect {background-color:#000; filter:Alpha(opacity=35); opacity:0.3; -moz-opacity:0.3;}
summary { display:none}
/* link */
a {color:#fff;}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:active {text-decoration:none}
a:hover {}
/* image */
img {border:0; vertical-align:top}
/* define */
dl, dt, dd {margin:0px; padding:0px;}
/* sentence */
div, h2{padding:0; margin:0;}
p {margin:0px; padding:0px;}
/* list */
ul, ol {list-style-type:none; margin:0px; padding:0px; }
/* area */
hr {display:none;}
/* form */
form {margin:0; padding:0;}
form label, label {cursor:default; font-size:100%;}
select {font-size:100%; background:#fff; vertical-align:middle; letter-spacing:0px;}
legend {display:none;}
fieldset {margin:0; padding:0; border:none;}
/* table */
table {margin:0px; padding:0px; border-spacing:0;}
td {margin:0px; padding:0px; font-size:100%;}
.notable{border-collapse:collapse; margin:0; padding:0; border-spacing:0; border:0 solid;}
th {font-weight:normal;}
/* heading */
h1, h2, h3, h4, h5, h6, h7 {margin:0; padding:0;  font-weight:normal;}
caption, .discription {position:absolute; top:-10000px; visibility:hidden; overflow:hidden; width:0; height:0; margin:0; padding:0; line-height:0; font-size:0;}
em {font-style:normal;}

/* webfont CDN */
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
@font-face {
   font-family:'NotoSans';
   font-style:normal;
   font-weight:400;
   src:url('./font/NotoSansKR-Regular.woff2') format('woff2'),
        url('./font/NotoSansKR-Regular.woff') format('woff'),
        url('./font/NotoSansKR-Regular.otf') format('opentype');
 }
@font-face {
   font-family:'NotoSans-Bold';
   font-style:normal;
   font-weight:700;
   src:url('./font/NotoSansKR-Bold.woff2') format('woff2'),
        url('./font/NotoSansKR-Bold.woff') format('woff'),
        url('./font/NotoSansKR-Bold.otf') format('opentype');
 }
@font-face {
   font-family:'Roboto';
   font-style:normal;
   font-weight:400;
   src:url('./font/Roboto-Regular.woff2') format('woff2'),
        url('./font/Roboto-Regular.woff') format('woff');
 }
@font-face {
   font-family:'Roboto-Bold';
   font-style:normal;
   font-weight:700;
   src:url('./font/Roboto-Bold.woff2') format('woff2'),
        url('./font/Roboto-Bold.woff') format('woff');
 }